<div class="container  bg-info">
<div class="flags">
  <img src="http://www.sciencekids.co.nz/images/pictures/flags96/Tunisia.jpg" routerLink="TUN"/>
  <img src="http://www.sciencekids.co.nz/images/pictures/flags96/United_States.jpg" routerLink="US"/>
  <img src="http://www.sciencekids.co.nz/images/pictures/flags96/Zimbabwe.jpg" routerLink="ZM"/>
  <img src="http://www.sciencekids.co.nz/images/pictures/flags96/Italy.jpg" routerLink="IT"/>
  <img src="http://www.sciencekids.co.nz/images/pictures/flags96/France.jpg" routerLink="FR"/>
  <img src="http://www.sciencekids.co.nz/images/pictures/flags96/Germany.jpg" routerLink="GE"/>
  <img src="http://www.sciencekids.co.nz/images/pictures/flags96/Argentina.jpg" routerLink="AG"/>
  <img src="http://www.sciencekids.co.nz/images/pictures/flags96/Denmark.jpg" routerLink="DK"/>
  <img src="http://www.sciencekids.co.nz/images/pictures/flags96/Austria.jpg" routerLink="AUT"/>
  <img src="http://www.sciencekids.co.nz/images/pictures/flags96/Australia.jpg" routerLink="AUS"/>
  <img src="http://www.sciencekids.co.nz/images/pictures/flags96/Syria.jpg" routerLink="SYR"/>
  <img src="http://www.sciencekids.co.nz/images/pictures/flags96/Iraq.jpg" routerLink="IRQ"/>
  <img src="http://www.sciencekids.co.nz/images/pictures/flags96/Spain.jpg" routerLink="SP"/>
  <img src="http://www.sciencekids.co.nz/images/pictures/flags96/United_Kingdom.jpg" routerLink="UK"/>
  <img src="http://www.sciencekids.co.nz/images/pictures/flags96/Japan.jpg" routerLink="JP"/>
  <img src="http://www.sciencekids.co.nz/images/pictures/flags96/Finland.jpg" routerLink="FL"/>
  <img src="http://www.sciencekids.co.nz/images/pictures/flags96/Netherlands.jpg" routerLink="NL"/>
  <img src="http://www.sciencekids.co.nz/images/pictures/flags96/Canada.jpg" routerLink="CA"/>
  <img src="http://www.sciencekids.co.nz/images/pictures/flags96/Ireland.jpg" routerLink="IR"/>
  <img src="http://www.sciencekids.co.nz/images/pictures/flags96/Belgium.jpg" routerLink="BE"/>
  
  
</div>
</div>